<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stanford.cs108.bunnyworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bunny World"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditModeStarter" />
        <activity android:name=".pageEditor" />
        <activity android:name=".PlayModeStarter" />
        <activity android:name=".PlayMode" />
        <activity android:name=".EditMode"></activity>
        <activity
            android:name=".popAddShape"
            android:theme="@style/AppTheme.PopTheme" />
        <activity
            android:name=".popAddPage"
            android:theme="@style/AppTheme.PopTheme" />
        <activity
            android:name=".popShapeEditor"
            android:theme="@style/AppTheme.PopTheme"></activity>
        <activity
            android:name=".popPossession"
            android:theme="@style/AppTheme.PopTheme"></activity>
        <activity android:name=".LoadActivity" />
        <activity
            android:name=".popSave"
            android:theme="@style/AppTheme.popUpStyle"></activity>
        <activity android:name=".DeletePageConfirm"></activity>
        <activity android:name=".leavePageConfirm"></activity>

    </application>

</manifest>